*{
    box-sizing: border-box;
    margin: 0; 
}

body{
    background-color: #faa307;
    overflow: hidden;
}

header{
    text-align: center;
    background-color: #03071e;
    color: white; 
    padding: 0.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

header h1{
    font-family: 'Bebas Neue', cursive;

}

.game-state{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.game-info{
    width: 95vw;
    font-size: 1.8rem;
    display: flex;
}

.game-info p{
    font-family: 'Alfa Slab One', cursive;
}

.score{
    margin-left: auto;
}

.score > span{
    color: green;
    font-family: 'Alfa Slab One', cursive;
}

.game-start{
    position: fixed;
    top: 37%;
    z-index: 1;
    border-top: 7px dashed black;
    border-bottom: 7px dashed black;
    background-color: #f9844a;
    color: white; 
    font-weight: bold;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 2rem;
}

button{
    margin: 1rem 10px 10px; 
    padding: 10px 30px;
    font-size: 1.7rem;
    border-radius: 10px;
    border: 0; 
    font-weight: bold;
    color: white;
    cursor: pointer;
    max-width: max-content;
    min-width: 120px;
}

button:active{
    transform: translateY(2px); 
}

.game-start #yes{
    background-color: #004b23;
}

.game-start #no{
    background-color: #ba181b;
}

.board{
    width: 70vw; 
    height: 65vh; 
    margin: 1rem auto; 
    background-color: #606c38;
    border-radius: 10px;
    padding: 10px; 
}

.emoji{
    font-size: 2.2rem;
}

.emoji:hover{
    cursor: pointer;
}

#quit{
    background-color: #660708;
}

@media all and (max-width:700px){
    html{
        font-size: 12px; 
    }
    .board {
        width: 80vw; 
    }
}